body {
  margin: auto;
  text-align: center;
  background-color: rgb(154, 93, 155);
  font-family: 'Alice', sans-serif;
}
h1 {
  text-align: center;
  text-shadow: 1px 1px 2px gold;
}
img {
  width: 200px;
  display: block;
}
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
li {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  flex-basis: 28%;
  margin: 2%;
  background: #12121212;
  box-sizing: border-box;
  padding: 2%;
  box-shadow: 2px 2px 4px #c2d674;
}
button {
  background: pink;
  padding: 0.5em;
  margin: 0.5em;
}
.add{
  color: #4c1059;
}
form{
  color: white;
  margin: 2%;
  padding: 2%;
}
#updateBtn, #deleteBtn{
  font-family: 'Alice', sans-serif;
  border-radius: 40%;
  background-color: black;
  color: white;
  margin: 5px;
}
.edit{
  font-family: 'Alice', sans-serif;
}
